/*
  Root
*/

.blui-root {
  @apply grid gap-2;
}

.blui-root--flex {
  @apply flex justify-between;
}

.blui-root--flex-right div:last-child {
  text-align: right;
}

.blui-root--flex-left div:first-child {
  order: 2;
}

.blui-root--flex-left div:last-child {
  order: 1;
}

.blui-root--non-responsive {
  @apply grid grid-cols-12 gap-4;
}

.blui-root--responsive {
  @apply md:grid md:grid-cols-12 md:gap-4;
}

/*
  Label
*/

.blui-label {
  @apply block text-sm font-semibold;
}

.blui-label-horizontal {
  @apply justify-between col-span-12;
}

.blui-label-vertical {
  @apply col-span-4;
}

.blui-container-horizontal {
  @apply col-span-12;
}

.blui-container-vertical {
  @apply col-span-8;
}

.blui-container-vertical--align-right {
  @apply text-right;
}

.blui-error {
  @apply mt-2 ml-0.5 text-sm text-dangerText;
}

.blui-desc {
  @apply mt-2 ml-0.5 text-sm text-normalText font-semibold dark:text-gray-300;
}

/*
  Layout sizes
*/

.blui-size--xs .blui-label,
.blui-size--xs .blui-error,
.blui-size--xs .blui-desc {
  @apply text-xs;
}
.blui-size--sm .blui-label,
.blui-size--sm .blui-error,
.blui-size--sm .blui-desc {
  @apply text-sm leading-4;
}
.blui-size--md .blui-label,
.blui-size--md .blui-error,
.blui-size--md .blui-desc {
  @apply text-sm;
}
.blui-size--lg .blui-label,
.blui-size--lg .blui-error,
.blui-size--lg .blui-desc {
  @apply text-base;
}
.blui-size--xl .blui-label,
.blui-size--xl .blui-error,
.blui-size--xl .blui-desc {
  @apply text-lg;
}
