.blui-tooltip-root {
  @apply bg-black text-mauve-100 py-1.5 px-3.5 text-sm rounded;

  box-shadow: "hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px";
}

/* @media (prefers-reduced-motion: no-preference): {
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
  
  .blui-tooltip-root[data-state="delayed-open"]: {
    .blui-tooltip-root[data-side="top"]: { animationName: slideDownAndFade }
    '&[data-side="right"]': { animationName: slideLeftAndFade }
    '&[data-side="bottom"]': { animationName: slideUpAndFade }
    '&[data-side="left"]': { animationName: slideRightAndFade }
  }
} */

.blui-tooltip-trigger--child {
  @apply inline-block;
}
