.blui-btn {
  @apply relative max-w-full cursor-pointer inline-flex items-center space-x-2 text-center border border-solid border-transparent transition ease-out duration-200 outline-none rounded-md;
  @apply text-gray-100;

  font-family: inherit;
  font-weight: inherit;
}

.blui-btn:focus {
  @apply outline-none;
}

.blui-btn-container--shadow {
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}

.blui-btn--w-full {
  @apply w-full flex items-center justify-center;
}

.blui-btn:disabled {
  @apply opacity-70 cursor-not-allowed;
}

.blui-btn--upper {
  @apply font-medium uppercase tracking-wider;
}

/*
  Button sizes
*/

.blui-btn--xs {
  @apply px-2.5 py-1.5 text-xs;
}
.blui-btn--sm {
  @apply px-3 py-2 text-sm leading-4;
}
.blui-btn--md {
  @apply px-4 py-2 text-sm;
}
.blui-btn--lg {
  @apply px-4 py-2 text-base;
}
.blui-btn--xl {
  @apply px-6 py-3 text-base;
}

/*
  Button varients
*/
.blui-btn-primary {
  @apply transition-colors duration-300;
  @apply text-white bg-plum-800 bg-gradient-btn hover:bg-gradient-btn-hover active:bg-gradient-btn-active;

  /* @apply dark:hover:bg-crimson-900; */
}
.dark .blui-btn-primary {
  text-shadow: 0px 0px 4px rgba(38 111 78 / 50%);
}

.blui-btn-default {
  @apply text-grayDark-700 bg-body border-inputBorderHover hover:text-normalTextHover;

  /* @apply dark:border-gray-600 dark:bg-gray-600 dark:text-gray-200;
  @apply dark:hover:bg-gray-700; */
}
.dark .blui-btn-default {
  text-shadow: 0px 0px 4px rgba(31 31 31 / 50%);
}

.blui-btn-secondary {
  @apply text-white bg-mauveDark-50 hover:bg-mauveDark-200;
  @apply dark:hover:bg-crimson-900;
}
.dark .blui-btn-secondary {
  text-shadow: 0px 0px 4px rgba(38 111 78 / 50%);
}

.blui-btn-colored {
  @apply text-white bg-crimson-800 hover:bg-crimson-900;
  @apply dark:hover:bg-crimson-900;
}
.dark .blui-btn-colored {
  text-shadow: 0px 0px 4px rgba(38 111 78 / 50%);
}

.blui-btn-outline {
  @apply border text-normalText bg-transparent border-btnBorder border-solid hover:bg-gray-100 hover:text-normalTextHover hover:border-btnBorderHover;

  /* @apply dark:text-white dark:border-gray-400 dark:hover:text-gray-600 dark:hover:border-white; */
}
.blui-btn-dashed {
  @apply border text-normalText bg-transparent border-btnBorder border-dashed hover:text-normalTextHover hover:border-btnBorderHover;

  /* @apply dark:text-white dark:border-gray-400 dark:hover:text-white dark:hover:border-white; */
}
.blui-btn-link {
  @apply bg-transparent text-plum-800 hover:bg-plum-900 hover:bg-opacity-10 font-semibold;
  box-shadow: none;
}
.blui-btn-text {
  @apply text-normalText bg-transparent hover:text-normalTextHover hover:bg-opacity-10;

  /* @apply dark:text-gray-300 dark:hover:bg-gray-600; */
  box-shadow: none;
}

.blui-btn--danger {
  @apply border-btnDanger text-red-950;
  
  /* @apply dark:border-red-500 dark:text-red-500; */
}

.dark .blui-btn--danger {
  text-shadow: 0px 0px 4px rgba(229, 62, 62 / 50%);
}

.blui-btn-primary.blui-btn--danger {
  @apply bg-btnDanger text-white bg-gradient-initial;
  @apply hover:bg-btnDangerHover hover:border-btnDangerHover;
}
.blui-btn-default.blui-btn--danger,
.blui-btn-secondary.blui-btn--danger,
.blui-btn-outline.blui-btn--danger,
.blui-btn-dashed.blui-btn--danger,
.blui-btn-link.blui-btn--danger,
.blui-btn-text.blui-btn--danger {
  @apply hover:bg-btnDanger hover:text-white hover:border-btnDanger;
}

/* 
  Animation for icon
*/
.blui-btn--anim--spin {
  @apply stroke-current;
  animation-name: spin;
  animation-duration: 1800ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: center center;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.blui-btn-loader--center {
  position: absolute;

  top: 50%;
  bottom: 50%;
  left: 45%;
  right: 50%;
  transform: translate(-50%, -50%);
  margin: auto 0;
}

.blui-btn--text-fade-out span {
  @apply opacity-0 invisible;
}

.blui-btn--text-align-left {
  @apply justify-start;
}

.blui-btn--text-align-right {
  @apply justify-end;
}

.blui-btn--text-align-center {
  @apply justify-center;
}