.blui-embed-root {
  @apply hidden md:inline-block col-span-2 mt-14 mx-auto;
}

.blui-embed-container {
  @apply border-mauve-1000 overflow-hidden transform-gpu;

  transform-origin: top center;
  width: 340px;
  max-width: 340px;
  height: 700px;
  max-height: 700px;
  border-width: 16px;
  border-radius: 45px;
}

.blui-embed-iframe {
  @apply rounded-3xl;
}
